<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.TranHistoryMapper">

    <select id="getHistoryListByTranId" resultType="tranHistory">
        select * from tbl_tran_history where tranId=#{tranId}
    </select>

  	<insert id="doSave" parameterType="tranHistory">
        insert into tbl_tran_history(
            id,
            stage,
            money,
            expectedDate,
            createTime,
            createBy,
            tranId
        )
        values(
            #{id},
            #{stage},
            #{money},
            #{expectedDate},
            #{createTime},
            #{createBy},
            #{tranId}
        )
    </insert>

    <delete id="doDelete">
        delete from tbl_tran_history
        <where>
            <foreach collection="array" open="tranId in(" close=")" item="ids" separator=",">
                #{ids}
            </foreach>
        </where>
    </delete>

    <select id="getHistoryListByids" resultType="int">
        select count(*) from tbl_tran_history
        <where>
            <foreach collection="array" open="tranId in(" close=")" item="ids" separator=",">
                #{ids}
            </foreach>
        </where>
    </select>

    <select id="getTranHistory" resultType="map">
        select count(*) as value,stage as name from tbl_tran_history group by stage
    </select>
</mapper>

































